/* headBox.css */
/* header용 css */

#headBox{
	position: fixed; z-index: 3000;
	top: 0;
	width: 100%;
	height: 6.25rem;
	background-color: #fff;
	margin: auto;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.headBox_area{
	width: 64rem; height: 100%;
	margin:auto; background-color: #fff;
}

h1{
	position: relative; z-index: 100;
	float: left;
	width: 300px; height: 100%;
}

h1>a{
	display: block; width: 100%; height: 100%; 
	background-image: url(../../../img/logo_1x.png);
	background-repeat: no-repeat;	
	background-position: 50% 50%;
	background-size: 80% auto;
}

#navBox{
	position: relative; z-index: 0;
	float: right;
	width: 700px; height: auto;
}

.unb_box{
	float: right;
	width: 600px; height: 30px;
	background-color: #fff;
}

.gnb_box{
	position: relative; z-index: 0;
	float: right;
	width: 700px; height: 70px;
}

.gnb_area{
	width: 100%; height: auto;
	padding-top: 20px; box-sizing: border-box;
}

.gnb_area > li{
	float: left;
	width: 25%; height: auto;
}

.gnb_area >li dl{
	width: 100%; height: 100%;
	background-color: #fff;
}

.gnb_area >li dl.action{
	border-bottom : 3px solid #d2128b;
}

.gnb_area > li dl dt{
	width: 100%; height: 100%;
	border-right: 1px solid #333;
	box-sizing: border-box;
	margin-bottom: 20px;
	text-align: center;
	font-size: 1.2rem;
	cursor: pointer;

}

.gnb_area > li dl dt:hover,
.gnb_area > li dl dt:focus{
	font-weight: bold;
	color: #d2128b;
}

.gnb_area > li dl dd{
	width: 100%; height: auto;
}

.gnb_sub{
	width: 100%; height: auto;
}

.gnb_sub >li{
	width: 100%; height: auto;
	margin-bottom: 0.5rem;
}

.gnb_sub a{
	display: block;
	width: 100%; height: auto;
	padding: 0.5rem 0;
	text-indent: 1rem;
}
/* mobile button----------------------------- */
.mob_button{
	margin-left: 120px;
	width: 80px; height: 100%;
	background-color: #ccc;
}

.mob_button a{
	float: left;
	display: block;
	width: 40px; height: 100%;
}

.mob_button i {
	display: block;
	width: 100%; height: 100%;
	font-size: 2rem;
	text-align: center;
	line-height: 3rem;
}

.mob_gnb{
	display: none;
	float: right;
	width: 200px; height: auto;
	background-color: #fff;
}

.mob_gnb >ul{
	width: 100%; height: 100%;
}
.mob_gnb >ul >li{
	font-size: 1.2rem;
	padding: 1rem;
}

.hide{display:none;}
/* ---------------------------------------------- */


/* ---------------------------------------------- */
/* mobile=============================================== */
@media screen and (max-width:639px){
	#headBox{height:3.125rem;}
	.headBox_area{width: 18.75rem; width: 88.2353vw;}
	h1{width: 200px;}
	h1>a{background-image: url(../../../img/logo_0.5x.png);}

	#navBox{
		float: right;
		width: auto; height: 100%;
	}

	.unb_box, .gnb_box{display: none;}
	
}

/* tablet================================================= */
@media screen and (min-width:640px) and (max-width:1023px){
	#headBox{height: 4.375rem;}
	.headBox_area{width: 37.5rem; width: 93.75vw;}
	h1>a{background-image: url(../../../img/logo_0.75x.png);}

	#navBox{
		float: right;
		width: auto; height: 100%;
	}

	.unb_box, .gnb_box{display: none;}
	.mob_button i {line-height: 4rem;}
}

/* pc =====================================================*/
@media screen and (min-width:1024px) and (max-width:1439px){
	#headBox{height: 6.25rem;}
	.mob_button{display: none;}
	.mob_gnb{display: none;}
}

/* pcfull================================================== */
@media screen and (min-width:1440px){
	.mob_button{display: none;}
	.mob_gnb {display: none;}
}