/* goyang_flower_ticketBox.css */
/* 
#ticketBox{
	width: 100%;
}

.ticket_area{
	width: 1024px; height: 100%;
	margin: auto;
	background-color: #333;
	padding: 3rem 1rem; box-sizing: border-box;
}

.ticket_area h3{
	width: auto; height: auto;
	background-color: #fff;
	font-size: 1rem;
	margin-bottom: 1rem;
}

.ticket_area_box dl i{
	margin-right: 0.3rem;
} */